.productPage {
  padding: 39px 0 80px;
  background: #f7f8fa;
}

.container {
  padding: 0 20px;
}

.medicineCard {
}
.imgWrapper {
  height: 337px;
}

.medicineImage {
}

@media screen and (min-width: 768px) {
  .productPage {
    padding: 37px 0 120px;
    background: #f7f8fa;
  }
  
  .container {
    padding: 0 32px;
  }

}
  
