.cartPage {
  /* width: 335px; */
  /* height: 1022px; */
}

.container {
  padding: 0 20px;
}

.cartTitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 28px;
  line-height: 114%;
  color: #1d1e21;
  margin-bottom: 40px;
}

.cartForm {
  border-radius: 27px;
  /* width: 335px;
  height: 1022px; */
  background: #fff;
}

.form {
  padding: 20px 20px 40px;
}

.formTitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #1d1e21;
  margin-bottom: 12px;
}

.formDescription {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: #6a6a6f;
  margin-bottom: 40px;
}

.formGroup {
  margin-bottom: 1.5rem;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: #2c3e50;
}

.input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

.input:focus {
  border-color: #3498db;
  outline: none;
}

/* //////////////////////////////////// */
.paymentMethodsSection {
  display: flex;
  flex-direction: column;
  /* gap: 1.5rem;
  margin-top: 1rem; */
  margin-bottom: 80px;
}

.paymentMethodsTitle {
  position: relative;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #1d1e21;
  margin-top: 80px;
  margin-bottom: 12px;
}
.paymentMethodsTitle::before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 1px;
  border-radius: 8px;
  background: #f7f8fa;
  position: absolute;
  right: 0;
  top: -40px;
  transform: translateY(-50%);
  background: rgba(29, 30, 33, 0.1);
}

.paymentMethodsDescription {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: #6a6a6f;
  margin-bottom: 20px;
}

.paymentMethod {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.radioInput {
  margin-right: 0.5rem;
}

.radioLabel {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: rgba(29, 30, 33, 0.6);
}

.radioInput:checked + .radioLabel {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: #1d1e21;
}

/* orderSection */

.orderSection {
  margin-bottom: 20px;
}

.orderTitle {
  position: relative;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #1d1e21;
  margin-bottom: 12px;
}

.orderTitle::before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 1px;
  border-radius: 8px;
  background: #f7f8fa;
  position: absolute;
  right: 0;
  top: -40px;
  transform: translateY(-50%);
  background: rgba(29, 30, 33, 0.1);
}

.orderDescription {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: #6a6a6f;
  margin-bottom: 20px;
}

.totalRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  width: 100%;
  height: 50px;
  background: #e7f1ed;
  padding: 14px 18px;
}

.totalLabel,
.totalAmount {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #1d1e21;
}

.submitButton {
  border-radius: 60px;
  padding: 13px 32px;
  width: 141px;
  height: 44px;
  background: #59b17a;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  color: #fff;
}

.goodsSection {
  padding: 20px 0;
}

.itemsList {
  display: flex;
  flex-direction: column;
}

.cartItem {
  display: flex;
}

.cardItem {
}
.lineSeparator {
  stroke-width: 100%;
  height: 1px;
  stroke: rgba(29, 30, 33, 0.1);
}
.imgWrapper {
  border: 1.15px solid #f1f1f1;
  border-radius: 27px;
  padding: 14px 18px;
  width: 120px;
  height: 120px;
  margin-right: 12px;
}

.medicineImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.itemInfoWrap {
  flex-grow: 1;
}

.itemInfo {
  margin-bottom: 18px;
}

.itemName {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #1d1e21;
  margin-bottom: 8px;
}

.itemDescription {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  color: #6a6a6f;
  margin-bottom: 12px;
}

.itemPrice {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  /* text-align: right; */
  color: #1d1e21;
}

.itemActions {
  display: flex;
  justify-content: space-between;
}

.quantityControl {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid rgba(29, 30, 33, 0.1);
  border-radius: 60px;
  width: 95px;
  height: 32px;
}

.quantityButton {
  width: 18px;
  height: 18px;
}

.quantityIcon {
  width: 18px;
  height: 18px;
  stroke-width: 1.8px;
  stroke: #59b17a;
}

.quantityValue {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  color: #1d1e21;
}

.removeButton {
  border-radius: 40px;
  padding: 8px 12px;
  width: 89px;
  height: 32px;
  background: rgba(232, 80, 80, 0.1);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.05em;
  text-align: center;
  color: #e85050;
}

@media screen and (min-width: 768px) {
  .cartContainer {
    padding: 1rem;
  }

  .cartItem {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .itemActions {
    width: 100%;
    justify-content: space-between;
  }

  .paymentMethods {
    flex-direction: column;
    gap: 0.5rem;
  }
}

@media screen and (min-width: 1440px) {
}
