.reviewsWrapper {
}

.header {
  margin-bottom: 40px;
}

.title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 28px;
  line-height: 114%;
  text-align: center;
  color: #1d1e21;
  margin-bottom: 14px;
}

.description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  text-align: center;
  color: #93939a;
}

.reviewsList {
  display: grid;
  grid-auto-flow: column;
  gap: 16px;
  width: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  min-height: 256px;
  padding-bottom: 15px;
  -webkit-overflow-scrolling: touch;
}

.reviewsList::-webkit-scrollbar {
  height: 5px;
  cursor: pointer;
}
.reviewsList::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.reviewCard {
  width: calc(100vw - 40px);
  max-width: 335px;
  height: 100%;
  scroll-snap-align: start;
}

.photoWrapper {
  border-radius: 100%;
  box-shadow: 0 1px 4px 0 rgba(16, 24, 40, 0.06);
  width: 64px;
  height: 64px;
  overflow: hidden;
  justify-self: center;
  margin-bottom: -40px;
}

.userPhoto {
  width: 100%;
  height: 100%;
}

.cardBlock {
  border: 1px solid #f1f1f1;
  border-radius: 27px;
  min-height: 232px;
  background: #fdfdfd;
  padding: 54px 16px 40px;
}

.userName {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #1d1e21;
  margin-bottom: 16px;
}

.reviewText {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: #93939a;
}

@media screen and (min-width: 768px) {
  .header {
    margin-bottom: 64px;
  }

  .title {
    font-size: 40px;
    line-height: 120%;
    margin-bottom: 14px;
  }

  .description {
    font-size: 16px;
    line-height: 125%;
  }
  .reviewCard {
    max-width: 344px;
    width: calc(50vw - 30px);
  }
}

@media screen and (min-width: 1440px) {
  .reviewsList {
    gap: 28px;
  }
  .reviewCard {
    max-width: 382px;
    width: calc(33.33vw - 27px);
  }
}
