/* .inputWrapper {
  position: relative;
  height: 44px;
  margin-bottom: 10px;
  width: 100%;
} */

.label {
  display: block;
  font-size: 14px;
  width: 100%;
  height: 100%;
}

.input {
  border: 1px solid rgba(29, 30, 33, 0.1);
  border-radius: 60px;
  background: #fff;
  width: 100%;
  height: 100%;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #1d1e21;
  padding: 13px 18px;

  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.input::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: rgba(29, 30, 33, 0.4);
  opacity: 1;
}

.errorInput::placeholder {
  color: #ff6b6b;
}

.input:hover,
.input:active,
.input:focus {
   outline: none;
  border: 1px solid #59b17a;
}

.error {
  color: red;
  font-size: 8px;
  animation: fadeIn 0.3s ease forwards;
  opacity: 0;
  transform: translateY(-5px);
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.iconButton {
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-55%);
   width: 16px;
  height: 16px;
  background: none;
  border: none;
  cursor: pointer;
  color: #777;
  font-size: 18px;
  transition: transform 0.3s ease;
}

.iconButton:hover {
  transform: translateY(-50%) scale(1.1);
}

.eyeIcon {
  color: #888;
  font-size: 20px;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.submitBtn {
  border: none;
  border-radius: 60px;
  padding: 13px 100px;
  width: 100%;
  height: 44px;
  background: #59b17a;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 14px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.submitBtn:hover:enabled {
  background: #3f945f;
  transform: scale(1.03);
}

.submitBtn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

@media screen and (min-width: 768px) {
  .inputWrapper {
    margin-bottom: 14px;
  }
}
