/* Модальное окно */
.modal {
    position: relative;
    margin: 80px auto;
    border-radius: 30px;
    background-color: #ffffff;
    max-width: calc(100vw - 40px); /* Защита от выхода за экран */
    max-height: calc(100vh - 160px); /* Отступы сверху/снизу */
    /* overflow-y: auto; Прокрутка внутри модалки */
  }
  
  /* Оверлей (фон) */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Для прокрутки длинных модалок */
    padding: 20px;
    z-index: 1000;
    background-color: rgba(47, 47, 47, 0.6);
    opacity: 0;
    animation: fadeIn 0.2s ease-in-out forwards;
    overflow-y: auto; /* Прокрутка оверлея */
  }
  
  /* Анимация появления */
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  /* Кнопка закрытия */
  .closeBtn {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 20px;
    height: 20px;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
  }
  
  .closeBtn .icon {
    width: 100%;
    height: 100%;
    stroke-width: 2px;
    stroke: #1d1e21;
    transition: stroke 0.2s;
  }

  .modalBody{
    max-width: 343px;
  }
  
  /* .closeBtn:hover .icon {
    stroke: #ff0000;
  } */
  
  /* Адаптив для планшетов/ПК */
  @media screen and (min-width: 768px) {
    .modal {
      margin: 120px auto;
      max-width: 600px; /* Фиксированная ширина на больших экранах */
    }
    
    .overlay {
      align-items: center; /* Центрирование на десктопах */
    }

    .closeBtn {
        width: 24px;
        height: 24px;
    }
    .modalBody{
        max-width: 463px;
      }
  }