.header {
  position: relative; /* Для абсолютного позиционирования MobileMenu */
  padding: 25px 0;
  background-color: green; /* Пример цвета для HomePage */
  z-index: 1001; /* Убедитесь, что Header выше MobileMenu */
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.homeHeader {
  background: #59b17a;
}

.medicineStoreHeader {
  background: #f7f8fa;
}

.menuButton {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 32px;
  height: 26px; */
  /* background: none;
  border: none;
  font-size: 1.5em; */
  cursor: pointer;
  /* display: block; */
}

.burger {
  width: 32px;
  height: 26px;
}

.burgerWhite{
  stroke:white;

}

.burgerGreen{
  stroke:#59B17A;
}

.navLinks {
  display: none;
}

.authLinks {
  display: none;
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1440px) {


  .navLinks {
    display: block;
  }
  
  .authLinks {
    display: block;
  }
  .menuButton {
    display: none;
  }


}
