.header {
  position: relative; 
  padding: 25px 0;
  background: #59b17a;
  z-index: 1001; 
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.homeHeader {
  background: #59b17a;
}

.medicineStoreHeader {
  background: #f7f8fa;
}

.menuButton {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.burger {
  width: 32px;
  height: 26px;
}

.burgerWhite {
  stroke: white;
}

.burgerGreen {
  stroke: #59b17a;
}

.navLinks {
  display: none;
}

.authLinks {
  display: none;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1440px) {
  .header {
    padding: 28px 0;
  }
  .container {
    padding: 0 128px;
  }

  .navLinks {
    display: block;
  }

  .authLinks {
    display: block;
  }
  .menuButton {
    display: none;
  }
}
