.addPharmacyPromo {
  margin-bottom: 40px;
  padding: 0 20px;
}

.promoWrapper {
  border-radius: 32px;
  padding: 20px 20px;
  background: #59b17a;
}

.content {
  padding: 20px 0;
  margin-bottom: 19px;
}

.title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 28px;
  line-height: 114%;
  letter-spacing: -0.01em;
  color: #f1f1f1;
  margin-bottom: 20px;
}

.description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: #f1f1f1;
  margin-bottom: 40px;
}

.button {
  border: 1px solid rgba(241, 241, 241, 0.5);
  border-radius: 60px;
  padding: 13px 24px;
  width: 154px;
  height: 44px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  color: #f1f1f1;
  transition: font-size 0.3s ease;
}

.button:hover {
  font-size: 16px;
}

.imgWrapper {
  max-width: 295px;
  height: 335px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.imgWrapper img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
/* marquee */
.marqueeWrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.marqueeContent {
  display: inline-flex;
  animation: marquee 20s linear infinite;
  will-change: transform;
  white-space: nowrap;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.features {
  display: flex;
  flex-shrink: 0;
}

.featureItem {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 29px 8px 0;
  height: 39px;
  white-space: nowrap;
}

.featureIcon {
  width: 20px;
  height: 20px;
}

.featureText {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #1d1e21;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% / 3));
  }
}

/*  */

@media screen and (min-width: 768px) {
  .addPharmacyPromo {
    padding: 0 32px;
    margin-bottom: 64px;
  }

  .promoWrapper {
    padding: 40px 48px;
    /* width: 704px;
    height: 911px; */
  }
  .content {
    padding: 64px 0;
    margin-bottom: 19px;
  }

  .title {
    font-size: 48px;
    line-height: 115%;
    margin-bottom: 24px;
  }

  .description {
    font-size: 16px;
    line-height: 125%;
    padding-right: 120px;
    margin-bottom: 40px;
  }

  .button {
    width: 190px;
  }

  .imgWrapper {
    max-width: 608px;
    height: 406px;
  }

  .marqueeContent {
    animation-duration: 30s;
  }
  .featureText {
    font-size: 16px;
    line-height: 125%;
  }
}

@media screen and (min-width: 1440px) {
  .addPharmacyPromo {
    padding: 0 96px;
    margin-bottom: 64px;
  }

  .promoWrapper {
    display: flex;
    padding: 40px 80px;
    gap: 19px;
    /* width: 704px;
    height: 911px; */
  }

  .content {
    width: 501px;
    height: 194px;
    margin-bottom: 0;
  }

  .description {
    padding-right: 0px;
  }

  .marqueeWrapper {
    overflow: visible; 
  }
  
  .marqueeContent {
    animation: none; 
    display: flex; 
    justify-content: center; 
    width: 100%;
    flex-wrap: wrap; 
  }
 
  
  .features {
    flex-wrap: wrap; 
    justify-content: center;
    gap: 20px; 
  }

  .featureItem {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 36.5px 8px 0;
    height: 39px;
    white-space: nowrap;
  }
}
