.addPharmacyPromo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 32px;
  padding: 20px;
  width: 100%;
  height: 674px;
  background: #59b17a;
  margin-bottom: 64px;
}

.content {
  /* max-width: 50%; */
  padding: 20px 0;
}

.title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 28px;
  line-height: 114%;
  letter-spacing: -0.01em;
  color: #f1f1f1;
  margin-bottom: 20px;
}

.description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: #f1f1f1;
  margin-bottom: 40px;
}

.button {
  border: 1px solid rgba(241, 241, 241, 0.5);
  border-radius: 60px;
  padding: 13px 24px;
  width: 154px;
  height: 44px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  color: #f1f1f1;
  transition: font-size 0.3s ease;
}

.button:hover {
  font-size: 16px;
}

.imgWrapper {
  max-width: 295px;
  height: 634px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.imgWrapper img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.featureItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.featureIcon {
  width: 20px;
  height: 21px;
}

.featureText {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #1d1e21;
}

@media screen and (min-width: 768px) {
  .imgWrapper {
    max-width: 608px;
    height: 406px;
  }
}

@media screen and (min-width: 1440px) {

}
