.medicineCard {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
.imgWrapper {
  border: 1.15px solid rgba(89, 177, 122, 0.6);
  border-radius: 20px;
  /* padding: 14px 18px; */
  width: 100%;
  height: 337px;
  background: #f7f7f7;
  margin-bottom: 8px;
  overflow: hidden;
}

.medicineImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.infoWrapper {
  border-radius: 20px;
  width: 100%;
  background: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.medicineNameBlock {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  gap: 4px;
  align-items: center;
  margin-bottom: 32px;
}

.name,
.medicinePrice {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #1d1e21;
}
.medicinePrice {
  justify-self: end;
}

.brand {
  grid-column: 1 / -1;
  width: 100%;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: rgba(29, 30, 33, 0.6);
  margin-bottom: 32px;
}

.controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-shrink: 1;
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 108px;
  height: 44px;
  border: 1px solid rgba(29, 30, 33, 0.1);
  border-radius: 60px;
}

.buttonQuantity {
  width: 20px;
  height: 20px;
}

.increase {
  width: 100%;
  height: 100%;
  stroke-width: 1.8px;
  stroke: #59b17a;
}

.quantity {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: #1d1e21;
  padding: 0 12px;
}

.addToCart {
  border-radius: 60px;
  padding: 13px 22px;
  width: 140px;
  height: 44px;
  background: #59b17a;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  color: #fff;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.addToCart:hover {
  background: #3f945f;
  transform: scale(1.03);
}

@media screen and (min-width: 768px) {
  .medicineCard {
    flex-direction: row;
    margin-bottom: 16px;
    column-gap: 16px;
    height: 284px;
  }

  .imgWrapper {
    border-radius: 27px;
    width: 364px;
    height: 100%;
    background: #f7f7f7;
    margin-bottom: 0;
  }

  .medicineImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .infoWrapper {
    border-radius: 20px;
    width: 324px;
    background: #fff;
    padding: 32px;
    display: flex;
    flex-direction: column;
  }

  .medicineNameBlock {
    grid-template-areas:
      'name'
      'brand'
      'price';
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    margin-bottom: 66px;
  }

  .name {
    grid-area: name;
    font-size: 20px;
  }

  .brand {
    grid-area: brand;
  }

  .medicinePrice {
    grid-area: price;
    justify-self: start;
    margin-top: 32px;
    font-size: 20px;
  }

  .controls {
  }
}

@media screen and (min-width: 1440px) {
  .medicineCard {
    flex-direction: column;
    height: 100%;
    margin-bottom: 0;
  }

  .imgWrapper {
    height: 337px;
    margin-bottom: 20px;
  }


  .infoWrapper {
    border-radius: 20px;
    width: 100%;
    background: #fff;
    padding: 20px;
    /* display: flex;
    flex-direction: column; */
  }

  .medicineNameBlock {
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      "name price"
      "brand brand";
    align-items: center;
    margin-bottom: 40px;
  }

  .name,
  .medicinePrice {

  }

  .name {
    grid-area: name;
  }
  .medicinePrice {
    grid-area: price;
    justify-self: end;
    margin-top: 0;

  }

  .brand {
    grid-column: 1 / -1;

  }
}
