.imgWrapper {
  border: 1.15px solid rgba(89, 177, 122, 0.6);
  border-radius: 20px;
  padding: 14px 18px;
  width: 100%;
  height: 300px;
  background: #f7f7f7;
  margin-bottom: 8px;
}

.medicineImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.infoWrapper {
  border-radius: 20px;
  width: 100%;
  height: 135px;
  background: #fff;
  padding: 20px;
  display: grid;

  display: flex;
  flex-direction: column;
}

.medicineNameBlock {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-shrink: 1;
  margin-bottom: 4px;
}

.medicineName,
.medicinePrice {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #1d1e21;
}
