.container {
  padding: 0 20px;
}

.mainBanner {
  background: #59b17a;
  padding: 172px 0 246px;
  margin-top: -1px;
}
.mainBanner > .container {
  padding: 0 ;
}

.promoBanners {
  background-color: #f7f8fa;
  padding-top: 40px;
  padding-bottom: 80px;
}

.medicineStores {
  background-color: #f7f8fa;
  padding-bottom: 80px;
}

.addPharmacyPromo {
  background-color: #f7f8fa;
}

.addPharmacyPromo> .container{
  padding: 0 ;
} 

.reviewsSection {
  background-color: #f7f8fa;
  padding: 80px 0;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
    margin: 0 auto;
  }

  .mainBanner {
    padding: 164px 0 258px;
  }

  .promoBanners {
    padding: 64px 0 120px;
  }
  .promoBanners > .container {
    padding: 0 49px;
  }

  .medicineStores {
    padding-bottom: 120px;
  }
  .reviewsSection {
    padding: 120px 0;
  }
  
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 0 96px;
    margin: 0 auto;
  }
  .mainBanner {
    background: #59b17a;
    padding: 44px 0 146px;
   
  }

  .promoBanners {
    padding: 64px 0 120px;
  }

  .promoBanners > .container {
    padding: 0 210px;
  }

  .reviewsSection > .container {
    padding: 0 119px;
  }
}
